.project__card {
  position: relative;
  box-shadow: var(--card-primary-shadow);
  clip-path: var(--polygon);
  border: 1px solid transparent;
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}

.project__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
    45deg,
    #884eb1,
    /* Purple */ #2bdeac,
    /* Green */ #00ccff,
    /* Blue */ #884eb1,
    /* Purple */ #2bdeac,
    /* Green */ #00ccff /* Blue */
  );
  background-size: 300% 300%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.project__card:hover::before {
  opacity: 1;
  animation: neon-border 6s linear infinite;
}

@keyframes neon-border {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.project__card .project__card-top {
  background: var(--color-ui-2);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  clip-path: var(--polygon);
}

.project__card .picture {
  height: 300px;
  background: var(--color-ui-2);
  border-radius: 1rem;
  overflow: hidden;
}

.project__card .picture img {
  transition: var(--transition);
}

.project__card .picture:hover img {
  transform: scale(1.1);
}

.project__card .picture {
  position: relative;
  overflow: hidden;
}

.project__card .picture img {
  width: 100%;
  transition: transform 0.3s ease;
}

.project__card .picture:hover img ,
.project__card:hover .picture img {
  transform: scale(1.1);
}

.project__card .picture .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17171796;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
}

.project__card:hover .picture .overlay,
.project__card .picture:hover .overlay
 {
  opacity: 1;
}

.project__card .picture:hover .overlay {
  opacity: 1;
  border-radius: 15px;
}

.project__card .overlay-content {
  color: #fff;
  font-size: 15px;
  flex-direction: row;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__card .overlay-content .eye {
  font-size: 21px;
}

.project__card .project__card-bottom {
  margin-top: 1rem;
  position: relative;
  z-index: 2;
}

.project__card .project__info {
  gap: 0.5rem;
}

.project__card .project__info img {
  width: 2.25rem;
  height: 2.25rem;
  min-width: 2.25rem;
  min-height: 2.25rem;
  max-width: 2.25rem;
  max-height: 2.25rem;
  background: var(--color-ui-2);
  border-radius: 5px;
  overflow: hidden;
}

.project__card .title {
  font-size: 15px;
  margin-top: 5px;
}

.project__card .category {
  font-size: 12px;
}
.project__card .description {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  margin: 15px 0;
}

.stacks__preview__btn__wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.project__card .stacks {
  justify-content: flex-start;
  width: fit-content;
  gap: 10px;
}
.preview__btn {
  width: 40px;
  height: 100%;
  margin-right: 3px;
}

.project__card .stack {
  padding: 5px;
  width: 30px;
  height: 30px;
  background: rgba(var(--color-primary-rgb), 0.3);
  box-shadow: var(--card-primary-shadow);
  clip-path: var(--polygon);
  transition: var(--transition);
  cursor: pointer;
}

.project__card .stack:hover {
  transform: scale(2);
}

.project__card .stack img {
  object-fit: contain;
}

/* Responsive design */
@media (max-width: 900px) {
  .modal-content {
    flex-direction: row;
  }

  .macbook-container {
    flex: 1;
  }

  .project-details {
    flex: 0 0 350px;
    padding: 0 0 0 20px;
  }

  .project__card .picture {
    height: 250px;
  }
}
